@font-face {
  font-family: MyriadPro;
  font-display: swap;
  src: url("../fonts/MyriadPro-Black.woff2") format("woff2"), url("../fonts/MyriadPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: MyriadPro;
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MyriadPro;
  font-display: swap;
  src: url("../fonts/MyriadPro-Light.woff2") format("woff2"), url("../fonts/MyriadPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: MyriadPro;
  font-display: swap;
  src: url("../fonts/MyriadPro-Semibold.woff2") format("woff2"), url("../fonts/MyriadPro-Semibold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*-reset-*/

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

*,
*::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-reset {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.input-reset {
  border: none;
  outline: none;
}

/*-end reset-*/

/*-common styles-*/

body {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  font-family: MyriadPro, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

:root {
  --common-button-style: #008dcd;
  --common-button-style-pressed: #94d1ec;
  --header__logo: #ffffff;
  --header__burger: #ffffff;
  --header__link: #ffffff;
  --header-info__title: #ffffff;
  --header-info__text: #ffffff;
  --header-info__button-background: #008dcd;
  --header-info__button-color: #ffffff;
  --hero-info__title: #000000;
  --hero-info__text: #000000;
  --hero-info__button-background: #008dcd;
  --hero-info__button-color: #ffffff;
  --description-upper__title: #000000;
  --description-upper__text: #000000;
  --description-upper__button-color: #ffffff;
  --description-upper__button-background: #008dcd;
  --description-upper__container: #f7f7f7;
  --description-middle-background: #ffffff;
  --description-middle-step__title: #000000;
  --description-middle-step__text: #000000;
  --description-lower__container: #f7f7f7;
  --description-lower__title: #000000;
  --description-lower__button-color: #ffffff;
  --description-lower__button-background: #008dcd;
  --description-modal__container: #f7f7f7;
  --description-modal__title: #000000;
  --description-modal__button-color: #ffffff;
  --description-modal__button-background: #008dcd;
  --description-modal__text-background: #ffffff;
  --description-modal__text-border: #008dcd;
  --description-modal__text-color: #008dcd;
  --description-modal__tel-background: #ffffff;
  --description-modal__tel-color: #008dcd;
  --description-modal__tel-border: #008dcd;
}

.common-button {
  font-size: 20px;
  font-weight: 600;
  min-height: 48px;
  border-radius: 30px;
  padding-right: 30px;
  text-align: right;
  cursor: pointer;
}

.common-button-style:hover {
  -webkit-box-shadow: 0px 4px 15px var(--common-button-style);
          box-shadow: 0px 4px 15px var(--common-button-style);
  border: 0px 4px 15px var(--common-button-style);
}

.common-button-style:focus-visible {
  -webkit-box-shadow: 0px 4px 15px var(--common-button-style);
          box-shadow: 0px 4px 15px var(--common-button-style);
}

.common-button-style:active {
  background-color: var(--common-button-style-pressed);
}

.common-title {
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  color: var(--black-color);
}

/*-end-common styles-*/

/*- visually-hidden -*/

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*- end visually-hidden -*/

/*-header-*/

.no-webp .header {
  background-image: url(../img/header/header-768-2x.jpg); }

.header {
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 279px;
}

.header__container {
  margin: 0px 21px 0px 21px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 29px;
}

.header__logo {
  width: 100px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--header__logo);
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__lines {
  width: 40px;
  height: 29px;
  fill: var(--header__burger);
}

.header__list {
  display: none;
}

.header__link {
  font-size: 14px;
  color: var(--header__link);
}

.header__link:hover {
  text-shadow: 1px 1px 10px white;
}

.header__link:focus-visible {
  outline: none;
  border: none;
  text-shadow: 1px 1px 10px white;
}

.header-info__container {
  display: none;
}

.header-info__title {
  max-width: 400px;
  font-size: 44px;
  line-height: 53px;
  color: var(--header-info__title);
  margin-bottom: 18px;
}

.header-info__text {
  font-size: 28px;
  line-height: 34px;
  color: var(--header-info__text);
  margin-bottom: 36px;
}

.header-info__button {
  width: 280px;
  background-color: var(--header-info__button-background);
  color: var(--header-info__button-color);
}

/*-end-header-*/

/*-hero-*/

.hero__container {
  padding: 21px 21px 27px 21px;
}

.hero__title {
  font-size: 32px;
  line-height: 38px;
  color: var(--hero-info__title);
  margin-bottom: 8px;
}

.hero__text {
  font-size: 24px;
  line-height: 29px;
  color: var(--hero-info__text);
  margin-bottom: 17px;
}

.hero__button {
  width: 278px;
  color: var(--hero-info__button-color);
  background-color: var(--hero-info__button-background);
}

/*-end-hero-*/

/*-description-*/

.description-upper__container {
  padding: 17px 21px 17px 21px;
  background-color: var(--description-upper__container);
}

.description-upper__img {
  margin: 0 auto;
  width: 278px;
  height: 141.53px;
  margin-bottom: 25px;
}

.description-upper__title {
  font-size: 18px;
  line-height: 22px;
  color: var(--description-upper__title);
  margin-bottom: 10px;
}

.description-upper__text {
  font-size: 12px;
  line-height: 14px;
  color: var(--description-upper__text);
  margin-bottom: 12px;
}

.description-upper__button {
  width: 278px;
  color: var(--description-upper__button-color);
  background-color: var(--description-upper__button-background);
}

.description-middle {
  background-color: var(--description-middle-background);
}

.description-middle__container {
  padding: 27px 0px 20px 0px;
  margin: 0px 21px 0px 21px;
}

.description-middle-step__img {
  display: block;
  margin: 0 auto;
}

.description-middle-step__title {
  font-size: 26px;
  line-height: 31px;
  color: var(--description-middle-step__title);
  margin-bottom: 7px;
}

.description-middle-step__text {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
  color: var(--description-middle-step__text);
}

.img-1 {
  width: 278px;
  height: 188px;
  margin-bottom: 27.08px;
}

.img-2 {
  width: 277px;
  height: 181px;
}

.img-3 {
  width: 277px;
  height: 187px;
}

.img-4 {
  width: 276px;
  height: 179px;
}

.description-lower__container {
  padding: 23px 21px 23px 21px;
  background-color: var(--description-lower__container);
}

.description-lower__title {
  font-size: 24px;
  line-height: 29px;
  color: var(--description-lower__title);
  margin-bottom: 15px;
}

.description-lower__button {
  width: 278px;
  color: var(--description-lower__button-color);
  background-color: var(--description-lower__button-background);
}

/*-end-description-*/

/*-feedback-*/

/*-end-feedback-*/

/*-reviews-*/

/*-end-reviews-*/

/*-advantages-*/

/*-end-advantages-*/

/*-guarantees-*/

/*-end-guarantees-*/

/*-faq-*/

/*-end-faq-*/

/*-partners-*/

/*-end-partners-*/

/*-questions-*/

/*-end-description-*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}

.modal__container {
  width: 440px;
  padding: 10px 10px 40px 10px;
  position: relative;
  z-index: 30;
  min-height: 336px;
  background-color: #fff;
  border-radius: 30px;
  margin: 0px 10px 0px 10px;
}

.modal__cross {
  z-index: 30;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 30px;
  padding: 5px;
}

.modal__cross:focus-visible {
  stroke: red;
  outline: 1px solid red;
}

.modal__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: 15px;
  stroke: #008dcd;
}

.modal__icon:hover {
  stroke: red;
}

.modal__cross:focus-visible .modal__icon {
  stroke: red;
}

.modal__icon:active {
  stroke: rgb(145, 130, 130);
}

.modal__title {
  margin-top: 67px;
  margin-bottom: 29px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 13px;
}

.modal__text {
  width: 270px;
  height: 48px;
  border: 1px solid var(--description-modal__text-border);
  border-radius: 30px;
  color: var(--description-modal__text-color);
  background-color: var(--description-modal__text-background);
  padding: 21px;
}

.modal__text::-webkit-input-placeholder {
  color: var(--description-modal__text-color);
}

.modal__text::-moz-placeholder {
  color: var(--description-modal__text-color);
}

.modal__text:-ms-input-placeholder {
  color: var(--description-modal__text-color);
}

.modal__text::-ms-input-placeholder {
  color: var(--description-modal__text-color);
}

.modal__text::placeholder {
  color: var(--description-modal__text-color);
}

.modal__tel {
  width: 270px;
  height: 48px;
  border: 1px solid var(--description-modal__tel-border);
  border-radius: 30px;
  color: var(--description-modal__tel-color);
  background-color: var(--description-modal__tel-background);
  padding: 21px;
}

.modal__tel::-webkit-input-placeholder {
  color: var(--description-modal__tel-color);
}

.modal__tel::-moz-placeholder {
  color: var(--description-modal__tel-color);
}

.modal__tel:-ms-input-placeholder {
  color: var(--description-modal__tel-color);
}

.modal__tel::-ms-input-placeholder {
  color: var(--description-modal__tel-color);
}

.modal__tel::placeholder {
  color: var(--description-modal__tel-color);
}

.modal__button {
  width: 270px;
  text-align: center;
  padding: 0;
  color: var(--description-modal__button-color);
  background-color: var(--description-modal__button-background);
}

.is-active {
  display: none;
}

/*-footer-*/

/*-end-footer-*/

@media (min-width: 590px) {
  .no-webp .header {
    background-image: url(../img/header/header-768-2x.jpg); }
  .header {
    background-repeat: no-repeat;
    background-position: right;
    height: 350px;
  }

  .header__container {
    margin: 0px 34px 0px 34px;
  }

  .description-upper__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .description-upper__img {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    margin-bottom: 0;
  }

  .description-upper__title {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }

  .description-upper__text {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    margin-bottom: 0;
  }

  .description-upper__button {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }

  .description-middle__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    row-gap: 35px;
    justify-items: center;
  }

  .description-middle-step {
    width: 270px;
  }

  .description-middle-step__title {
    margin: 0;
  }

  .description-middle-step__text {
    margin: 0;
  }

  .img-1 {
    width: 270px;
    height: 180px;
    margin-bottom: 27.08px;
  }

  .img-2 {
    width: 270px;
    height: 180px;
  }

  .img-3 {
    width: 270px;
    height: 180px;
  }

  .img-4 {
    width: 270px;
    height: 180px;
  }
}

@media (min-width: 768px) {
  .header {
    height: 415px;
  }

  .header__wrapper {
    margin-bottom: 55px;
  }

  .header__button {
    display: none;
  }

  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }

  .header-info__container {
    display: block;
  }

  .hero {
    display: none;
  }

  .description-upper__container {
    padding: 25px 34px 28px 34px;
    row-gap: 15px;
  }

  .description-upper__img {
    width: 398px;
    height: 202.62px;
  }

  .description-upper__title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 0;
  }

  .description-upper__text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;
  }

  .description-middle__container {
    margin: 0px 74px 0px 74px;
  }

  .description-middle-step {
    width: 300px;
  }

  .img-1 {
    width: 281px;
    height: 189.77px;
  }

  .img-2 {
    width: 278.18px;
    height: 181.21px;
  }

  .img-3 {
    width: 280.18px;
    height: 189.42px;
  }

  .img-4 {
    width: 279.39px;
    height: 181.21px;
  }

  .description-lower__container {
    padding: 30px 34px 26px 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .description-lower__title {
    max-width: 380px;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 0;
  }
}

@media (min-width: 900px) {
  .no-webp .header {
    background-image: url(../img/header/header-1024-2x.jpg); }
  .header {
    height: 415px;
  }

  .header__container {
    margin: 0px 80px 0px 80px;
  }

  .description-lower__title {
    max-width: none;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 455px;
  }

  .header__logo {
    width: 160px;
    height: 46px;
  }

  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }

  .header__link {
    font-size: 18px;
    line-height: 22px;
  }

  .header-info__title {
    max-width: 748px;
  }

  .description-upper__container {
    padding: 25px 80px 28px 80px;
    row-gap: 15px;
  }

  .description-middle__container {
    padding: 68px 0px 68px 0px;
    margin: 0px 80px 0px 80px;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }

  .description-middle-step {
    width: 462px;
  }

  .img-1 {
    width: 462px;
    height: 312px;
  }

  .img-2 {
    width: 459px;
    height: 299px;
  }

  .img-3 {
    width: 460px;
    height: 311px;
  }

  .img-4 {
    width: 461px;
    height: 299px;
  }

  .description-lower__container {
    padding: 30px 80px 26px 80px;
  }
}

@media (min-width: 1400px) {
  .no-webp .header {
    background-image: url(../img/header/header-1024-2x.jpg); }
  .header {
    height: 525px;
  }

  .header__container {
    margin: 0px 140px 0px 140px;
  }

  .header__wrapper {
    margin-bottom: 88px;
  }

  .header-info__title {
    margin-bottom: 22px;
  }

  .header-info__text {
    font-size: 36px;
    margin-bottom: 35px;
  }

  .header-info__button {
    width: 360px;
    text-align: center;
    padding: 0;
  }

  .description-upper__container {
    padding: 95px 140px 60px 140px;
    row-gap: 22px;
  }

  .description-upper__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    width: 660px;
    height: 336px;
  }

  .description-upper__title {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    font-size: 36px;
    line-height: 43px;
  }

  .description-upper__text {
    font-size: 16px;
    line-height: 19px;
  }

  .description-upper__button {
    width: 360px;
    text-align: center;
    padding: 0;
  }

  .description-middle__container {
    margin: 0px 140px 0px 140px;
  }

  .description-lower__container {
    padding: 64px 140px 64px 140px;
  }

  .description-lower__title {
    max-width: none;
  }

  .description-lower__button {
    width: 360px;
    padding: 0;
    text-align: center;
  }
}

.webp .header { background-image: url(../img/header/header-768-2x.webp); }

@media (min-width: 590px) {

  .webp .header { background-image: url(../img/header/header-768-2x.webp); }
}

@media (min-width: 900px) {

  .webp .header { background-image: url(../img/header/header-1024-2x.webp); }
}

@media (min-width: 1400px) {

  .webp .header { background-image: url(../img/header/header-1024-2x.webp); }
}